// Variables que afectan bootstrap
$blue: #17153b;
$gray: #2e236c;

// https://getbootstrap.com/docs/5.3/customize/sass/#variable-defaults
// Modificación, usamos archivo de variables propio
$body-bg: #f1faee;

$info: #433d8b;
$warning: #c8acd6;
$light: #ffffff;
